@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 424px;
  padding: 0;
}

.drum-pad {
  font-size: 60px;
  width: 120px;
  height: 120px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:active {
  position: relative;
  opacity: 0.7;
  transform: scale(0.95);
}
